#container{
	width:980px;
	 /*aiuto*/
	background-color:white;
	margin-right: auto;
	margin-left: auto;
}
body{
	background-image: url(images/Sfondo.png);
}

ul {

  font-size:20px;
  list-style-type: none;
  margin: -20 0 0 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: center;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}



#title{
	font-size:50px;
	padding-top:10px;
	padding-left:20px;
}
i{
	font-size:25px;
	padding-left:35px;
}
#banner{
	width:900;
	margin-top:10px;
	border: 10px solid;
	border-radius:10px;
	margin-left: auto;
	margin-right: auto ;

}

#banner img {
	width: 900px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.top-left {
	position: absolute;
	top: 50%;
	font-size: 60px;
	left: 50%;
	transform: translate(-50%, -50%);
	font-style: italic;
	color: black;
}

#pagina1{
	padding-top:20px;
	padding-left:20px;
	width:600px;
	margin-right:0;
	float:left;
}
hr{
	border-style:dotted;
}

#parte1{
	padding-top:10;
	float:left;
	padding-bottom:18px;
	clear: both;
}

#parte2{
	padding-top:10;
	float:left;
	padding-bottom:18px;
}

#parte3{
	padding-top:10;
	float:left;
	padding-bottom:18px;
}

#parte4{
	padding-top:10;
	float:left;
	padding-bottom:18px;
}

#contenuto1{
	padding-top:10;
	float:left;
	width:250px;
	height: 150px;
}

#contenuto2{
	padding-top:10;
	float:right;
	width:350px;
	padding-bottom:10;
	height: 150px;
}

#pagina2{
	float:right;
	width:280;
	padding-top:20;
	padding-right:30;
}

#citazione{
	margin-top: 20px;
	margin-bottom: 20px;
}

#footer{
	border-top:10px;
	clear:both;					
	padding:10px;
	background-color: black;
	color:#FFF;
	text-align:center;
	font-size:13;
}


