#container{
	width:980px;
	height:1400px; /*aiuto*/
	background-color:white;
	margin-right: auto;
	margin-left: auto;
}
body{
	background-image: url(images/sfondo.png);

}
#menu{


}
#title{
	font-size:50px;
	padding-top:10px;
	padding-left:20px;
}
i{
	font-size:25px;
	padding-left:35px;
}
#banner{
	width:900;
	margin-top:10px;
	border: 10px solid;
	border-radius:10px;
	margin-left: auto;
	margin-right: auto ;

}

#banner img {
	width: 900px;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.top-left {
	position: absolute;
	top: 50%;
	font-size: 60px;
	left: 50%;
	transform: translate(-50%, -50%);
}

#pagina1{
	padding-top:20px;
	padding-left:20px;
	width:600px;
	margin-right:0;
	float:left;
}
hr{
	border-style:dotted;
}
#contenuto1{
	padding-top:10;
	float:left;
	padding-bottom:18px;
}
#contenuto2{
	padding-top:10;
	float:right;
	width:430;
	padding-bottom:10;
}
#pagina2{
	float:right;
	width:280;
	padding-top:20;
	padding-right:30;
}
#contenuto3{
	float:right;
	width:380px;
}

#footer{
	border-top:10px;
	clear:both;					
	padding:10px;
	background-color: black;
	color:#FFF;
	text-align:left;
	font-size:13;
}

fieldset#login {
background: url(images/login_bg.png) no-repeat top left;
margin: 0px auto;
padding: 5px 5px 5px 5px;
width: 276px;
height: 179px;
font-size: 1.4em;
border: none;
position: relative;
}
#login h4 {
font-size: 18px;
font-weight: normal;
width: 246px;
height: 31px;
padding: 8px 0px 0px 30px;
margin: 0px;
text-align: left;
}
#login form {
height: 95px;
width: 276px;
padding: 10px 0px 0px 0px;
margin: 0px;
}
#login p {
width: 276px;
margin: 0px;
padding: 0px;
}
#login form p label {
text-align: left;
margin-top: 6px;
margin-bottom: 4px;
margin-left: 0.5em;
float: left;
font-size: 14px;
}
#login form p.check {
padding-left: 77px;
width: 199px;
height: 23px;
}
#login #remlabel {
float: left;
font-size: 12px;
position: relative;
left: -3px;
}
#login #remember {
float: left;
width: 14px;
height: 14px;
padding: 0px;
position: relative;
top: 3px;
}
#login #submit {
background: url(images/login.png) no-repeat top left;
width: 77px;
height: 27px;
cursor: pointer;
border: none;
float: right;
margin-right: 10px;
}
#login #username, #login #password {
background: url(images/input_bg.png) no-repeat top left;
border: 1px solid #d0d0d0;
width: 192px;
height: 19px;
padding: 2px;
color: #222222;
font-size: 14px;
float: right;
margin-bottom: 10px;
}
#login p.member {
text-align: left;
width: 270px;
font-size: 11px;
margin: 2px 2px 0px 2px;
padding: 2px;
line-height: 18px;
}